<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.Js Tutorials</title>
</head>
<body>
    
    <!-- computed -->
    <div id="app-computed">
        <p> Result dari {{ int1 }} + {{ int2 }} is {{ sum }}</p>
        <p>{{ umur }}</p>
        hay sekarang kelasmu adalah <b>{{ kelas }}</b>
    </div>

    <!-- Simpel rendering -->
    <!-- <div id="app"> -->
        <!-- <p v-if="show == 'ready'">{{ message }}</p> -->
        <!-- <p v-if="!show">{{ message }}</p> -->
        
        <!--use if else-->
        <!-- <p v-if="show">{{ message }}</p>  -->
        <!-- <p v-else="show">{{ message2 }}</p>  -->
    <!-- </div> -->

    <!-- other try -->
    <!-- <div id="app" v-text="message"></div>
    <div id="app" v-html="message"></div>
    <p/> -->
    
    <!-- <p/>
    Bind <br/>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <p/>
    Pengondisian <br/>
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <p/>
    Perulangan <br/>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
    </div> -->
    
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>